@keyframes fighterAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 320px;
  }
}

@keyframes destroyerAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 1152px;
  }
}

@keyframes bomberAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 512px;
  }
}

@keyframes commanderShipAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 450px;
  }
}

@keyframes commanderShipAnimationRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes starDestroyerAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bombAnimation {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 80px;
  }
}

@keyframes bombRotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

//explosions

@keyframes smallExplosion {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -1088px;
  }
}

@keyframes mediumExplosion {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -2176px;
  }
}

@keyframes starDestroyerExplosion {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: -5950px;
  }
}
