.button {
  padding: 20px 40px;
  outline-style: none;
  cursor: pointer;
  border: $border;
  color: $fontColor;
  font-family: $fontFamily;
  font-size: 2rem;
  letter-spacing: 2px;
  background: transparent;
  transition: 0.3s;

  &:hover {
    color: $siteBackground;
    background: $fontColor;
    border-color: #fff;
  }
}
