.enemy {
  &-fighter {
    width: 64px;
    height: 64px;
    position: absolute;
    background-image: url("../assets/enemies/fighter/fighter-sprite.png");
    transform: rotate(180deg);
    animation: fighterAnimation 0.2s steps(5) infinite;
    z-index: 4;

    &--explosion {
      width: 64px;
      height: 64px;
      position: absolute;
      background-image: url("../assets/enemies/explosions/small-explosion.png");
      animation: smallExplosion 1s steps(17) forwards;
      z-index: 4;
    }
  }

  &-destroyer {
    width: 128px;
    height: 128px;
    position: absolute;
    background-image: url("../assets/enemies/destroyer/destoryer-sprite.png");
    transform: rotate(180deg);
    animation: destroyerAnimation 0.3s steps(9) infinite;
    z-index: 2;
    &--explosion {
      width: 128px;
      height: 128px;
      position: absolute;
      background-image: url("../assets/enemies/explosions/destroyer-explosion.png");
      animation: mediumExplosion 1s steps(17) forwards;
      z-index: 2;
    }
  }

  &-bomber {
    width: 64px;
    height: 64px;
    position: absolute;
    background-image: url("../assets/enemies/bomber/bomber-sprite.png");
    transform: rotate(180deg);
    animation: bomberAnimation 0.3s steps(8) infinite;
    z-index: 4;

    &--explosion {
      width: 64px;
      height: 64px;
      position: absolute;
      background-image: url("../assets/enemies/explosions/small-explosion.png");
      animation: smallExplosion 1s steps(17) forwards;
      z-index: 4;
    }
  }

  &-commander-ship {
    width: 150px;
    height: 150px;
    position: absolute;
    background-image: url("../assets/enemies/commander_ship/commander-ship-sprite.png");
    transform: rotate(180deg);
    animation: commanderShipAnimation 1s steps(3) infinite,
      commanderShipAnimationRotate 12s linear infinite;
    z-index: 3;

    &--explosion {
      width: 128px;
      height: 128px;
      position: absolute;
      background-image: url("../assets/enemies/explosions/destroyer-explosion.png");
      animation: mediumExplosion 1s steps(17) forwards;
      z-index: 3;
    }
  }

  &-star-destroyer {
    width: 350px;
    height: 350px;
    position: absolute;
    background-image: url("../assets/enemies/star-destroyer/star-destroyer.png");
    background-size: cover;
    transform: rotate(180deg);
    animation: starDestroyerAnimation 10s linear infinite;
    z-index: 1;

    &--explosion {
      width: 350px;
      height: 350px;
      position: absolute;
      background-image: url("../assets/enemies/explosions/big_explosion.png");
      animation: starDestroyerExplosion 1s steps(17) forwards;
      z-index: 1;
    }
  }

  &-missile {
    position: absolute;
    width: 15px;
    height: 15px;
    background-image: url("../assets/enemies/bullet/bullet_red.png");
    transform: rotate(180deg);
    z-index: 2;
  }

  &-bomb {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../assets/enemies/bomb/bomb-sprite.png");
    animation: bombAnimation 1s steps(2) infinite,
      bombRotateAnimation 40s linear infinite;
    z-index: 2;

    &--explosion {
      width: 64px;
      height: 64px;
      position: absolute;
      background-image: url("../assets/enemies/explosions/small-explosion.png");
      animation: smallExplosion 1s steps(17) forwards;
      z-index: 2;
    }
  }
}
