* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import "variables";

html {
  background-color: $siteBackground;
  font-size: $fontSize;
  font-family: $fontFamily;
  color: $fontColor;
  overflow: hidden;
}

@import "main-menu";
@import "buttons";
@import "game";
@import "animations";
@import "enemies";
@import "player";
@import "store";

//layers
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}
